* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

 table {
    border: 2px solid black;
    margin: 0 auto;
}
.black {
    background-color: #000000;
}
td {
    height: 100px;
    width: 100px;
}

/* BONUS: USE DIVS ONLY */

/* .board {
    display: grid;
    justify-content: center;
    align-content: center;
}

.columns {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    border: solid 3px black;
}

.row {
    display: grid;
    grid-template-rows: repeat(8, 100px);
}
.black {
    background-color: #000000;
} */